.idea/
core/
backup/torchvision/
*.tar
*.ipynb
*.md
*.py
!app/
requirements.txt
**/*_fp16.onnx
**/*_fp32.onnx
**/*_quant.onnx
**/*_pre.onnx
**/*.bin
**/*.pth
**/*.pt

checkpoint/class/1st_coat/save_model/dryness/
checkpoint/class/1st_coat/save_model/pigmentation/
checkpoint/class/1st_coat/save_model/pore/
temp_uploads/
.git/
.gitignore
